{% extends "includes/layout.njk" %}

{% from "components/inputDate/macro.njk" import inputDate %}
{% from "components/pageTitle.njk" import pageTitle %}
{% from "components/form/macro.njk" import formHelper %}
{% from "components/button/macro.njk" import button %}

{% block pageTitle %}
  {{ pageTitle(form, "$className;format="decap"$.title") }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% call formHelper(form, routes.controllers.$className$Controller.onSubmit(mode).url) %}

          {{ inputDate(form, "$className;format="decap"$.heading", date, errorMessage) }}

          {{ button() }}

        {% endcall %}

      </div>
    </div>

{% endblock %}