{% from "govuk/components/header/macro.njk"  import govukHeader %}

{{ govukHeader({
    homepageUrl: routes.controllers.IndexController.onPageLoad().url,
    serviceName: messages('service.name'),
    serviceUrl: routes.controllers.IndexController.onPageLoad().url,
    containerClasses: "govuk-width-container",
    assetsPath: "/assets",
    navigation: [{
        href: routes.controllers.SignOutController.signOut().url,
        text: messages("site.signOut")
    }]
}) }}
