{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{{ govukDateInput({
  id: id,
  fieldset: {
    legend: {
      text: messages(legendContent),
      isPageHeading: legendAsPageHeading,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [{
      classes: "govuk-input--width-2",
      name:  "value.day",
      label: messages("date.day"),
      value: date.day
  },
  {
      classes: "govuk-input--width-2",
      name: "value.month",
      label: messages("date.month"),
      value: date.month
  },
  {
      classes: "govuk-input--width-4",
      name: "value.year",
      label: messages("date.year"),
      value: date.year
  }],
  hint: messages(hintText),
  errorMessage: errorMessage
}) }}