{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  type: "number",
  label: {
    text: messages(label),
    classes: classes,
    isPageHeading: asHeading
  },
  id: id,
  name: name,
  value: form.value.value,
  errorMessage: form.value.error
}) }}