{% extends "includes/layout.njk" %}

{% from "components/pageTitle.njk" import pageTitle %}
{% from "components/h1/macro.njk" import h1 %}
{% from "components/summaryList/macro.njk" import summaryList %}
{% from "components/button/macro.njk" import button %}
{% from "components/subheading/macro.njk" import subheading %}


{% block pageTitle %}
  {{ pageTitle(form, section + ".checkYourAnswers.title") }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ subheading(subheading = section + ".checkYourAnswers.subheading") }}

        {{ h1(section + ".checkYourAnswers.heading") }}

        <p class="govuk-body">
          {{ messages(section + ".checkYourAnswers.guidance") }}
        </p>

        {{ summaryList(rows) }}

        {{ button(msgKey = "site.submitAndContinue") }}

      </div>
    </div>

{% endblock %}