{% extends "includes/layout.njk" %}

{% from "components/pageTitle.njk" import pageTitle %}
{% from "components/h1/macro.njk" import h1 %}
{% from "components/link/macro.njk" import link %}
{% from "components/panel/macro.njk" import panel %}

{% block pageTitle %}
  {{ pageTitle(form, "confirmation.title") }}
{% endblock %}

{% set referenceNumber %}
    {{  messages("confirmation.refNumber") }}
    <br>
    <strong>{{ reference }}</strong>
{% endset %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ panel("confirmation.heading", referenceNumber) }}

        <p class="govuk-body">
            {{ messages("confirmation.p1") }}
        </p>

        <p class="govuk-body">
            {{ link(exitSurveyUrl, "confirmation.whatDoYouThink.link") }}
            {{ messages("confirmation.whatDoYouThink.time") }}
        </p>
      </div>
    </div>

{% endblock %}