{% extends "includes/layout.njk" %}

{% from "components/yesNoRadio.njk" import yesNoRadio %}
{% from "components/pageTitle.njk" import pageTitle %}
{% from "components/form/macro.njk" import formHelper %}
{% from "components/button/macro.njk" import button %}
{% from "components/subHeading/macro.njk" import subHeading %}

{% block pageTitle %}
  {{ pageTitle(form, "infrastructureCompanyElection.title") }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% call formHelper(form, routes.controllers.InfrastructureCompanyElectionController.onSubmit(mode).url) %}

          {{ subHeading("sections.aboutReturn") }}

          {{ yesNoRadio(form, "infrastructureCompanyElection.heading", radios) }}

          {{ button("site.saveAndContinue") }}

        {% endcall %}

      </div>
    </div>

{% endblock %}