{% extends "includes/layout.njk" %}

{% from "components/pageTitle.njk" import pageTitle %}
{% from "components/h1/macro.njk" import h1 %}
{% from "components/subheading/macro.njk" import subheading %}

{% block pageTitle %}
  {{ pageTitle(form, "reportingCompanyRequired.title") }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ subheading(subheading = "section.reportingCompany") }}

        {{ h1("reportingCompanyRequired.heading") }}

        <p class="govuk-caption-m">

                {{ messages("reportingCompanyRequired.p1") }}

                 <a href=link class="govuk-link">{{ messages("reportingCompanyRequired.a1") }}</a>

                {{ messages("reportingCompanyRequired.p2") }}
        </p>
      </div>
    </div>

{% endblock %}