{% extends "includes/layout.njk" %}

{% from "components/inputText/macro.njk" import inputText %}
{% from "components/pageTitle.njk" import pageTitle %}
{% from "components/form/macro.njk" import formHelper %}
{% from "components/button/macro.njk" import button %}
{% from "components/fieldset/macro.njk" import fieldset %}

{% block pageTitle %}
  {{ pageTitle(form, "reportingCompanyCTUTR.title") }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% call formHelper(form, routes.controllers.ReportingCompanyCTUTRController.onSubmit(mode).url) %}

          {% call fieldset("reportingCompanyCTUTR.heading") %}

            {{ inputText(form, "value", "value", "reportingCompanyCTUTR.label") }}

            {{ button() }}

          {% endcall %}

        {% endcall %}

      </div>
    </div>

{% endblock %}