{% extends "includes/layout.njk" %}

{% from "components/inputText/macro.njk" import inputText %}
{% from "components/pageTitle.njk" import pageTitle %}
{% from "components/form/macro.njk" import formHelper %}
{% from "components/button/macro.njk" import button %}
{% from "components/fieldset/macro.njk" import fieldset %}
{% from "components/subheading/macro.njk" import subheading %}

{% block pageTitle %}
  {{ pageTitle(form, "reportingCompanyName.title") }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% call formHelper(form, routes.controllers.aboutReportingCompany.ReportingCompanyNameController.onSubmit(mode).url) %}

            {{ subheading(subheading = "section.reportingCompany") }}

            {{ inputText(form, "value", "value", "reportingCompanyName.label", isPageHeading = true, classes = "govuk-label--xl") }}

            {{ button(msgKey = "site.saveAndContinue") }}

        {% endcall %}

      </div>
    </div>

{% endblock %}